<div>
    <form action="" method="">
        <input type="hidden" name="done" value="" />
        <button aria-label="Mark as done/not done">Done/Not-Done</button>
    </form>

    <form action="" method="">
        <input type="text" />
        <button aria-label="Save To-Do item">Save</button>
    </form>

    <form action="" method="">
        <button aria-label="Delete To-Do">Delete</button>
    </form>
</div>